footer
    background-image linear-gradient(to bottom, $bg 0, transparent 20px)
    a:hover
        text-decoration underline
    > .center
        padding $rem(40) 0
        display flex
        align-items flex-start
        justify-content space-between
        +above(1080px)
            background $img('marca-deborahroigcinza.svg') no-repeat center 40px
            background-size 100px auto
    .footer-contato
        dosis 16
        color $cinza
        p
            margin 0
    .footer-endereco
        margin-right auto
        margin-left $rem(100)
        dosis 14
        color $cinza
        line-height 1.5
    img
        width 100px
        +above(1080px)
            display none
    .footer-links
        margin-left auto
        display grid
        grid-template-columns repeat(3, min-content)
        grid-gap $rem(60)
        dosis 16
        color $cinza
        a
            display block
            white-space nowrap
            + a
                margin-top 1em
            &.sub
                font-size $rem(14)
                margin-top 4px
    +below(1080px)
        .footer-links
            display none
        img
            order -1
            margin-right auto
        .footer-endereco
            margin-right 0
    +mobile()
        img
            display none
        > .center
            display block
            padding 20px 0
        .footer-endereco
            margin 20px 0 0
    .copyright
        border-top 1px solid rgba($cinza, .2)
        padding 1.5em 0
        dosis 11
        font-size 11px
        color $cinza
        text-align center
        +mobile()
            span
                font-size 0
                display block
