footer
    background-image linear-gradient(to bottom, $bg 0, transparent 20px)
    a:hover
        text-decoration underline
    > .centern
        padding $rem(40) 0
        display flex
        align-items flex-start
        justify-content space-between
        +above(1080px)
            background $img('marca-deborahroigbege.svg') no-repeat center 40px
            background-size 100px auto
    .footer-contato
        dosis 16
        color $cinza
        min-width 130px 
        p
            margin 0
        .whatsapp
            display block
            width 15px
            height 15px
            text-indent 20px
            background $img('ico-whatsapp-vazio.svg') no-repeat center
            background-size 100%
            margin-top 4px
            margin-right 4px
            white-space nowrap
            &:hover
                background-image $img('ico-whatsapp-color.svg')
        .footer_tel
            white-space nowrap
            margin-top -4px
        .instagram
            display block
            width 15px
            height 15px
            text-indent -9999px
            background $img('ico-instagram-vazio.svg') no-repeat center
            background-size 100%
            margin-top 12px
            margin-right 7px
            &:hover
                background-image $img('ico-instagram-color.svg')
        .facebook
            display block
            width 15px
            height 15px
            text-indent -9999px
            background $img('ico-facebook-vazio.svg') no-repeat center
            margin-top 12px
            &:hover
                background-image $img('ico-facebook-color.svg')
    .footer-redes
        display flex
        min-width 130px
    .footer-endereco
        margin-right auto
        margin-left $rem(100)
        dosis 14
        color $cinza
        line-height 1.5
    img
        width 100px
        +above(1080px)
            display none
    .footer-links
        margin-left auto
        display grid
        grid-template-columns repeat(3, min-content)
        grid-gap $rem(60)
        dosis 16
        color $cinza
        a
            display block
            white-space nowrap
            + a
                margin-top 1em
            &.sub
                font-size $rem(14)
                margin-top 4px
    +below(1080px)
        .footer-links
            display none
        img
            order -1
            margin-right auto
        .footer-endereco
            margin-right 0
    +mobile()
        img
            display none
        > .center
            display block
            padding 20px 0
        .footer-endereco
            margin 20px 0 0
    .copyright
        border-top 1px solid rgba($cinza, .2)
        padding 1.5em 0
        dosis 11
        font-size 11px
        color $cinza
        text-align center
        +mobile()
            span
                font-size 0
                display block
