header
    height 100px
    background #fff
    .center
        display flex
        align-items center
        justify-content center
        height 100%
    .logo
        width 100px
        margin-right $rem(144)
        flex-shrink 0
        img
            width 100%
    nav#nav-desktop
        display flex
        align-items center
        height 100%
        +below(1020px)
            display none
        a:not(.instagram) 
            position relative
            display flex
            height 100%
            align-items center
            dosis 16
            color $cinza
            &:before
            &:after
                content ''
                position absolute
                left 50%
                top 0
                height 0
                width 1px
                background rgba($cinza .4)
                transition .2s ease
            &:hover
            &.active
                &:before
                    height 34px
            &[href$='projetos'].active:after
                height 60px
                top 70px
        a + a
            margin-left $rem(70)
        a.instagram
            width 15px
            height 15px
            text-indent -9999px
            background $img('ico-instagram-vazio.svg') no-repeat center
            background-size 100%
            &:hover
                background-image $img('ico-instagram-color.svg')
        a.facebook
            &:before
            &:after
                content none!important
            width 15px
            height 15px
            // text-indent -9999px
            background $img('ico-facebook-vazio.svg') no-repeat center
            margin-left 10px!important
            &:hover
                background-image $img('ico-facebook-color.svg')
        a.whatsapp
            &:before
            &:after
                content none!important
            width 15px
            height 15px
            // text-indent -9999px
            background $img('ico-whatsapp-vazio.svg') no-repeat center
            background-size 100%
            margin-left 10px!important
            &:hover
                background-image $img('ico-whatsapp-color.svg')

    #mobile-toggle
        display block
        background-color transparent
        border 0
        position relative
        height 100%
        width 28px
        outline 0
        padding 0
        cursor pointer
        margin-left auto
        +above(1020px)
            display none
        .lines
            display block
            width 100%
            height 4px
            background $cinza
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background $cinza
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    +below(1020px)
        height 85px
        .center
            justify-content space-between
        .logo
            margin 0
            width 85px

nav#nav-mobile
    background #fff
    box-shadow 0 6px 6px rgba(#000, .1)
    +above(1020px)
        display none !important
    display none
    padding 10px 0 20px
    text-align right
    position relative
    z-index 2
    a
        display block
        dosis 16
        color $cinza
        &.active
            padding-right 18px
            position relative
            &:after
                content ''
                position absolute
                right 0
                top 50%
                width 10px
                height 1px
                background rgba(161, 147, 127, .4)
        + a
            margin-top 10px
        &.instagram
            width 15px
            height 15px
            text-indent 9999px
            background $img('ico-instagram-vazio.svg') no-repeat center
            background-size 100%
            margin-top 16px
            margin-left auto
        &.facebook
            width 15px
            height 15px
            text-indent -9999px
            background $img('ico-facebook-vazio.svg') no-repeat center
            // background-size cover
            margin-top 16px
            margin-left auto
        &.whatsapp
            width 15px
            height 15px
            text-indent 9999px
            background $img('ico-whatsapp-vazio.svg') no-repeat center
            background-size 100%
            margin-top 16px
            margin-left auto
.aviso-cookies
    display flex
    width 100%
    margin 0
    flex-direction row
    align-items center
    justify-content center
    bottom 0
    background-color rgba(0, 0, 0, 0.8)
    position fixed
    z-index 999
    padding 30px
    +mobile()
        flex-direction column
        align-items center
        padding 20px 
    .frase-cookies
        width 65%
        notosans(14)
        color #FFF
        margin 0
        .link-politica
            text-decoration underline
            &:hover
            &:focus
                font-weight bold
        +below($tablet)
            font-size 12px
        +mobile()
            width 100%
            text-align center
    .aceitar-cookies
        width 15%
        height 40px
        notosans(14)
        color #FFF
        background-color transparent 
        border 1px solid #FFF
        border-radius 0
        margin-left 30px
        cursor pointer
        outline none
        &:hover
        &:focus
            border 1px solid $tomate
            background-color $tomate
        +below($tablet)
            font-size 12px
            height 30px
        +mobile()
            width 100%
            text-align center
            margin-left 0
            margin-top 10px