desktop-base-width     = 1285px
rupture.desktop-cutoff = $tablet = 1345px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

// A cor $cinza foi alterada a pedido do cliente de $cinza = #727272 para bege #A1937F 
// A cor do Bg foi alterada de #EDEDED para #E3DDD6
$cinza      = #A1937F
$bg         = #E3DDD6
$bg2        = #F0ECE7
$fendi      = #5D5C5B
$marcadagua = #D0C9BF

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;700&display=swap');

dosis($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Dosis', 'Helvetica', 'Arial', sans-serif
    font-weight 500
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700
