.contato
    padding $rem(65) 0
    position relative
    +mobile()
        padding 30px 0
    .form-wrapper
        display flex
        +below($tablet)
            display block
    .info
        margin-right $rem(60)
        +below($tablet)
            margin-bottom 20px

        p
            dosis 24
            color $cinza
            margin 0
            min-width 160px
        .telefone
            margin-top -5px
        a
            dosis 16
            color $cinza
            // margin-top 1.5em
    .contato-whatsapp
        display flex
    .whatsapp
        display block
        width 25px
        height 25px
        text-indent 30px
        background $img('ico-whatsapp-vazio.svg') no-repeat center
        // background-position-y -1px 
        background-size 100%
        margin-top 6px!important
        margin-bottom 2px
        &:hover
            background-image $img('ico-whatsapp-color.svg')
    .email
        color red
        margin-top 10px!important
    form
        width 100%
        max-width 1060px
        .flash
            padding 15px
            dosis 15
            color #fff
            margin-bottom 10px
            background #e74c3c
            &.flash-error
                background #e74c3c
            &.flash-success
                background #18bc9c
        .grid
            display grid
            grid-template-columns 1fr 1fr 50px
            grid-template-rows 130px
            grid-gap 5px
            +mobile()
                grid-template-columns 1fr
                textarea
                    height 130px
                button
                    height 40px
            input
            textarea
                width 100%
                display block
                background $bg2
                dosis 16
                color $cinza
                border 0
                outline 0
                padding 10px
                resize none
                &::placeholder
                    color $cinza
                + input
                    margin-top 5px
            input
                height 40px
            .buttons
                background $bg2
                outline 0
                border 0
                cursor pointer
                transition background .3s
                position relative
                &:hover
                    background rgba($cinza, .25)
                &:after
                    content ''
                    position absolute
                    left 50%
                    top 50%
                    width 16px
                    height 16px
                    border-left 1px solid $cinza
                    border-bottom 1px solid $cinza
                    transform-origin center
                    transform translate(-80%, -50%) rotate(-135deg)
    .img-wrapper
        width 100%
        margin-top $rem(60)
        position relative
        img
            width 100%
            height 663px
            object-fit cover
            max-width 59.38%
        .mapa
            position absolute
            top 60px
            right 0
            width calc('40% + 70px')
            iframe
                width 100%
                height 400px
                display block
            p
                padding-left 115px
                padding-top 30px
                dosis 16
                color $cinza
                margin 0
        +below($tablet)
            margin-top 30px
            img
                width 100%
                max-width unset
                height auto
            .mapa
                position relative
                top unset
                width 100%
                iframe
                    height 250px
                p
                    padding 25px 0 0
    .g-recaptcha
        transform-origin top left
        margin-top 5px
        +tablet()
            transform scale(.95)
        +below(400px)
            transform scale(.8)
        +below(330px)
            transform scale(.75)
    .activate_captcha
        background-color red
    .active_captcha
        display none
    .active_captcha2
        position absolute
        display flex
        // flex-direction column
        row-gap 30px
        height 100%
        width 140%
        top 40%
        left 50%
        transform translate(-50%,-50%)
        z-index 600
        background-color rgba(0,0,0,0.5)
        justify-content center
        padding-right 20%
        padding-left 20%
        .card
            position relative
            margin-top 250px
            margin-left auto
            margin-right auto
            .submit
                margin-left 25px
                margin-right auto
                margin-top 20px
                background $bg2
                outline 0
                border 0
                border-radius 2px
                cursor pointer
                transition all .3s
                width 250px
                height 40px
                dosis 20
                color #5D5C5B
                font-weight 600
                letter-spacing 1px
                &:hover
                    background #b5b0aa
                    transform scale(1.2)
            .btn-close
                position absolute
                top -50px
                right -60px
                background-color #2b2a29
                border-radius 100px
                outline 0
                border 0
                cursor pointer
                width 35px
                height 35px
                background-image $img('close-btn.svg')
                background-repeat no-repeat
                background-position center
                background-size 60%
                transition 0.3s all
                &:hover
                    background-color #2b2a29
                    transform scale(1.3)
