@keyframes scrolldown
    0%
        background-position 50% 50%
    100%
        background-position 50% 60%

+above(1020px)
    header.header-home .logo
        display none

.home
    .banners
        position relative
        width 100%
        height calc('100vh - 100px')
        overflow hidden
        &:after
            content ''
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background rgba(#000, .3)
            pointer-events none
        +below(1020px)
            height calc('100vh - 85px')
        .slide
            position relative
            width 100%
            height 100%
            background-size cover
            background-position center
            .projeto
                pointer-events none
                position absolute
                bottom 0
                right 0
                display inline-block
                background #fff
                padding 20px 30px
                dosis 16
                color $cinza
                z-index 102
                box-shadow 0 0 8px rgba(#000, .55)
        .banners-logo
            position absolute
            width 230px
            top 50%
            left 50%
            transform translate(-50%, -50%)
            z-index 102
            pointer-events none
            filter drop-shadow(0px 0px 5px rgba(0,0,0,.45))
        .cycle-prev
        .cycle-next
            position absolute
            width 20%
            height 100%
            top 0
            z-index 103
            opacity 0
            transition opacity .2s
            &:hover
                opacity 1
        .cycle-prev
            left 0
            background $img('seta-banner-esquerda.svg') no-repeat left 30px center
        .cycle-next
            right 0
            background $img('seta-banner-direita.svg') no-repeat right 30px center
        .scroll-down
            position absolute
            bottom 0
            left 50%
            transform translateX(-50%)
            dosis 14
            color #fff
            background $img('seta-scrolldown.svg') no-repeat center
            z-index 103
            padding-bottom 75px
            text-shadow 0 1px 2px rgba(#000, .35)
            animation scrolldown .5s infinite alternate
        +below(1020px)
            .slide .projeto
            .banners-logo
            .cycle-prev
            .cycle-next
                display none
    .texto
        padding $rem(80) 0
        text-align center
        h2
            dosis 60 light
            color $cinza
            margin 0 0 .25em
            span
                position relative
                &:before
                    content ''
                    position absolute
                    left .16em
                    top 50%
                    transform translate(-50%, -50%)
                    background $img('hashtag.svg') no-repeat center
                    background-size auto 100%
                    width 3em
                    height 3em
                    z-index -1
        p
            dosis 16
            line-height 1.5
            color $cinza
            margin 0 auto
            max-width 635px
            + p
                margin-top 1em
        +mobile()
            padding 30px 0
            h2
                dosis 32
    .conteudo
        padding 30px 0
        display grid
        grid-template-columns 1fr 1fr
        grid-gap 10px
        +above($mobile)
            &.video-only
                grid-template-columns 50%
                justify-content center
        +mobile()
            grid-template-columns 1fr
        .video
            width 100%
            height 0
            padding-bottom 56.25%
            position relative
            iframe
                width 100%
                height 100%
                position absolute
                display block
                top 0
                left 0
        .imagens
            display grid
            grid-template-columns 1fr 1fr
            grid-gap 10px
            align-items center
            a
                position relative
                &:after
                    content ''
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    background rgba(#fff, .65)
                    opacity 0
                    transition opacity .3s
                &:hover:after
                    opacity 1
            img
                width 100%
                display block
        .filler
            background #E6E6E6
            width 100%
            height 0
            padding-bottom 56%
    .destaques
        display grid
        grid-template-columns 1fr 1fr
        grid-gap 10px
        +mobile()
            grid-template-columns 1fr
        a
            height 400px
            position relative
            background-size cover
            background-position center
            +mobile()
                height 250px
            > div
                position absolute
                width 100%
                height 100%
                display flex
                align-items center
                justify-content center
                padding 20px
                dosis 60 light
                color #fff
                transition .3s
                overflow hidden
                div
                    position relative
                    padding-left $rem(24)
                    transform translateX($rem(-24))
                    &:before
                        content ''
                        position absolute
                        bottom .15em
                        left 0
                        width 2px
                        height 1000px
                        background $cinza
                        opacity 0
                        transition opacity .3s
                span
                    dosis 14
                    display block
                +tablet()
                    dosis 40 light
                +mobile()
                    dosis 28
                    span
                        margin-bottom 4px
            &:hover
                > div
                    background rgba(#fff, .65)
                    color $cinza
                    div:before
                        opacity 1
    .instagram
        margin $rem(120) 0 $rem(70)
        text-align center
        +mobile()
            margin 40px 0 20px
        .link-instagram
            display inline-flex
            align-items center
            dosis 24 light
            color $cinza
            span
                width 32px
                height 32px
                background $img('ico-instagram-vazio.svg') no-repeat center
                background-size 95%
                margin 0 40px
            &:hover span
                background-image $img('ico-instagram-color.svg')
            +mobile()
                flex-direction column
                span
                    margin 16px 0
        .pictures
            display grid
            grid-template-columns repeat(3, 1fr)
            grid-gap 1px
            width 100%
            max-width 1020px
            margin $rem(120) auto 0
            +mobile()
                margin-top 30px
            a
                position relative
                width 100%
                height 0
                padding-bottom 100%
                opacity .85
                transition opacity .3s
                &:hover
                    opacity 1
            img
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                object-fit cover
                display block
    .chamada-sobre
        padding 30px 0 $rem(50)
        a
            display flex
            align-items center
            justify-content flex-end
            &:hover
                div:first-child
                    color lighten($cinza, 20)
            div:first-child
                dosis 60 light
                color $cinza
                text-align right
                margin-right 70px
                transition color .3s
                span
                    dosis 14
                    display block
            div:last-child
                display flex
                img + img
                    margin-left 1px
            +below($tablet)
                div:first-child
                    dosis 40 light
                div:last-child
                    img
                        width 200px
            +mobile()
                div:first-child
                    width 100%
                    text-align center
                    margin 0
                div:last-child
                    display none
