.midia
    padding $rem(40) 0 $rem(60)
    +mobile()
        padding 30px 0
    .masonry
        margin -50px 0
        .gutter
            width 50px
        .sizer
        .thumb
            width calc('33.333% - 33.333px')
            margin-bottom 50px
        .thumb
            border 1px solid $bg
            padding 20px
            transition .3s
            +mobile()
                padding 15px
            &:not(div):hover
                transform translateY(-5px)
                box-shadow 0 3px 14px rgba($cinza, .25)
            img
                max-width 100%
                margin-bottom 20px
            h3
                margin 0
                padding 0 10px
                dosis 22
                color $cinza
                +mobile()
                    dosis 18
            p
                margin 0
                padding 10px 10px 0
                dosis 16
                color $cinza
                +mobile()
                    dosis 15
        +below($tablet)
            margin -30px 0
            .gutter
                width 30px
            .sizer
            .thumb
                width calc('50% - 15px')
                margin-bottom 30px
        +mobile()
            margin -20px 0
            .gutter
                width 20px
            .sizer
            .thumb
                width 100%
                margin-bottom 20px
