.projetos
    .center-full
        padding $rem(120) 0
        +below(1020px)
            padding 30px 0
    .index-grid
        display grid
        grid-template-columns repeat(auto-fill, minmax(420px, 1fr))
        grid-gap 35px
        +below(1910px)
            grid-template-columns repeat(auto-fill, minmax(300px, 1fr))
        +below(1090px)
            grid-template-columns repeat(auto-fill, minmax(260px, 1fr))
            grid-gap 20px
        a
            position relative
            img
                width 100%
                display block
            .overlay
                position absolute
                left 0
                top 0
                width 100%
                height 100%
                background rgba(#fff, .7)
                opacity 0
                transition opacity .3s
                div
                    position absolute
                    left 60px
                    top 0
                    padding-top 150px
                    padding-left 25px
                    padding-right 25px
                    border-left 2px solid $cinza
                    dosis 22
                    color $cinza
                    span
                        display block
                        dosis 14 light
                        margin-top 8px
                    +mobile()
                        left 20px
                        padding-top 100px
            &:hover .overlay
                opacity 1
    .show
        &.desktop
            display grid
            grid-template-columns 1.35fr 1fr
            grid-gap 20px
            +below($tablet)
                display none
        &.mobile
            display none
            +below($tablet)
                display block
        .descricao
            background $bg
            padding 30px
            color $fendi
            +mobile()
                padding 20px
            span
                display block
                dosis 14
                opacity .8
            h2
                dosis 22
                margin 10px 0
            p
                dosis 14
                margin 16px 0 0
                opacity .8
        img
            width 100%
            display block
        .video
            width 100%
            height 0
            padding-bottom 56.25%
            position relative
            iframe
                position absolute
                left 0
                top 0
                width 100%
                height 100%
        img
        .video
            &:not(:first-child)
                margin-top 20px
                +below($tablet)
                    margin-top 12px
    .controls
        display flex
        align-items center
        justify-content center
        margin-top $rem(70)
        +mobile()
            margin-top 40px
        a
            dosis 14
            color $cinza
            padding-left 20px
            position relative
            &:before
                content ''
                position absolute
                left 0
                top 0
                width 10px
                height 10px
                border 3px solid $cinza
                border-right transparent
                border-bottom transparent
                transform rotate(-45deg) translate(0, 4px)
                transform-origin center
            + a
                padding-left 0
                padding-right 20px
                margin-left 60px
                &:before
                    right 0
                    left auto
                    transform rotate(135deg) translate(4px, 0)
    .masonry
        margin -50px 0
        .gutter
            width 50px
        .sizer
        .thumb
            width calc('50% - 25px')
            margin-bottom 50px
        .thumb
            border 1px solid $bg
            padding 20px
            background $bg2
            img
                width 100%
                display block
                + *
                    margin-top 10px
            .video
                width 100%
                height 0
                padding-bottom 56.25%
                position relative
                iframe
                    position absolute
                    left 0
                    top 0
                    width 100%
                    height 100%
            h2
                dosis 22
                color $fendi
                margin 0
                &:not(:first-child)
                    margin-top 14px
                +mobile()
                    dosis 20
            .descricao
                dosis 16
                color $fendi
                margin-top 8px
                p
                    margin 0
                    + p
                        margin-top .5em
        +below($tablet)
            margin 0
            .gutter
                width 30px
            .sizer
            .thumb
                width calc('50% - 15px')
                margin-bottom 30px
        +mobile()
            .gutter
                width 20px
            .sizer
            .thumb
                width 100%
                margin-bottom 20px

.categorias
    position absolute
    left calc('50% - 40px')
    top 35px
    display flex
    a
        dosis 14
        color $cinza
        position relative
        padding-bottom 10px
        &:after
            content ''
            position absolute
            bottom 0
            left 50%
            width 30px
            height 1px
            background rgba($cinza, .4)
            transform translateX(-50%)
            opacity 0
            transition .3s
        &:hover
        &.active
            &:after
                opacity 1
        + a
            margin-left 30px
    +below(1020px)
        position relative
        top unset
        left unset
        justify-content center
        margin-bottom 30px
        transform none !important
        a + a
            margin-left 20px
