.sobre
    padding-bottom $rem(100)
    overflow hidden
    +mobile()
        padding-bottom 30px
    .section-1
        display flex
        flex-direction column
        align-items flex-end
        justify-content flex-end
        min-height 600px
        padding-bottom 25px
        position relative
        .imagem
            position absolute
            width 50vw
            height 100%
            right 50%
            top 0
            background-position center
            background-size cover
        .box
            width calc('50% + 70px')
            background $bg2
            padding 70px 70px 120px
            dosis 20
            color $cinza
            line-height 2
            position relative
            z-index 2
        +below(960px)
            padding-top 220px
            padding-bottom 0
            position relative
            min-height auto
            .imagem
                position absolute
                top 0
                left 50%
                transform translateX(-50%)
                width 100vw
                height 300px
                background-size cover
                background-position center
            .box
                width 100%
                margin 0 auto
                padding 30px
                text-align center
                dosis 16
    .frase
        text-align center
        dosis 120 light
        color $marcadagua
        padding $rem(20) 0 $rem(44)
        span
            position relative
            z-index 3
            &:before
                content ''
                position absolute
                left .23em
                top 50%
                transform translate(-50%, -50%)
                background $img('hashtag.svg') no-repeat center
                background-size auto 100%
                width 1.8em
                height 1.8em
                z-index -1
        +tablet()
            dosis 64 light
        +mobile()
            dosis 34
    .section-2
        display flex
        flex-direction column
        align-items flex-start
        justify-content center
        min-height 600px
        position relative
        .imagem
            position absolute
            width 50vw
            height 100%
            left 50%
            top 0
            background-position center
            background-size cover
        .box
            width calc('50% + 70px')
            background $bg2
            padding 70px 70px 120px
            dosis 20
            color $cinza
            line-height 2
            position relative
            z-index 2
            text-align right
        +below(960px)
            padding-top 220px
            padding-bottom 0
            position relative
            min-height auto
            .imagem
                position absolute
                top 0
                left 50%
                transform translateX(-50%)
                width 100vw
                height 300px
                background-size cover
                background-position center
            .box
                width 100%
                margin 0 auto
                padding 30px
                text-align center
                dosis 16
    .section-3
        padding-top 820px
        position relative
        margin-top $rem(60)
        .imagem
            position absolute
            top 0
            left 50%
            transform translateX(-50%)
            width 100vw
            height 700px
            background-size cover
            background-position center
        .box
            background $bg2
            max-width 960px
            margin 0 auto
            padding $rem(70) $rem(150) $rem(120)
            text-align center
            dosis 20
            color $cinza
            line-height 2
            position relative
            z-index 2
        +mobile()
            padding-top 300px
            margin-top 30px
            .imagem
                height 380px
            .box
                dosis 16
                padding $rem(40)
    .section-4
        display grid
        max-width 1255px
        grid-template-columns 1fr 1fr
        margin $rem(-80) auto 0
        img
            max-width 100%
        .box
            background $bg2
            display flex
            position relative
            align-items center
            padding $rem(70)
            dosis 20
            color $cinza
            line-height 2
            &:after
                content ''
                width 100px
                height 100px
                background $img('ico-deborahroig.svg') no-repeat center
                position absolute
                right 0
                bottom 0
        +below(1080px)
            grid-template-columns 1fr
            .box
                dosis 16
                padding 25px
                &:after
                    display none
            img
                width 100%
                max-width unset
