.videos
    .videos_father
        // display grid
        // grid-template-columns: repeat(auto-fill, minmax(500px, 500px));
        // grid-gap 30px
        // grid-auto-flow: column;
        display flex
        justify-content space-evenly
        margin-top 80px
        column-gap 30px
        row-gap 60px
        flex-wrap wrap
        margin-bottom: 60px;
        .overlay
            width 465px
            height 240px
            +below($mobile)
                width 280px
                height 155px

        h1 
            dosis 22
            color $cinza
    #loadMore
        display flex
        justify-content center
        align-items center
        margin-left auto
        margin-right auto
        margin-bottom 60px
        width 165px
        height 65px
        border 1px solid $cinza
        color $cinza
        dosis 24
        cursor pointer
        p 
            margin 0



#loadMore2
    display flex
    justify-content center
    align-items center
    margin-top: 80px
    margin-left auto
    margin-right auto
    margin-bottom 60px
    width 165px
    height 65px
    border 1px solid $cinza
    color $cinza
    dosis 24
    cursor pointer
    p 
        margin 0
        